<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Usuários
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Usuário</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/usuarios/{$aluno.cpf}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome" value="{$aluno.nome}">
            </div>
            <div class="form-group">
              <label for="cpf">Cpf</label>
              <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Informe o cpf"  value="{$aluno.cpf}">
            </div>
            <div class="form-group">
              <label for="cpf">Email:</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Informe o email"  value="{$aluno.email}">
            </div>
            <div class="form-group">
              <label for="instagram">Instagram</label>
              <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Instagram"  value="{$aluno.instagram}">
            </div>
            <div class="form-group">
              <label for="turma">Turma</label>
              <input type="text" class="form-control" id="turma" name="turma" placeholder="Informe a turma"  value="{$aluno.turma}">
            </div>
            <div class="form-group">
              <label for="unidade">Unidade</label>
              <input type="text" class="form-control" id="unidade" name="unidade" placeholder="Informe a unidade" value="{$aluno.unidade}">
            </div>
            <div class="form-group">
              <label for="turmaextra">Turma Extra</label>
              <input type="text" class="form-control" id="turmaextra" name="turmaextra" placeholder="Acesso Extra" value="{$aluno.turmaextra}">
            </div>
            <div class="form-group">
              <label for="pago">Pago</label>
              <input type="text" class="form-control" id="pago" name="pago" placeholder="Aluno em dias" value="{$aluno.pago}">
            </div>
            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="text" class="form-control" id="senha" name="senha" placeholder="senha" value="{$aluno.senha}">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->