<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	  <title>Aula curso evolução</title>
    <link rel="stylesheet" href="/res/site/aula_css.css">
    <script data-cfasync="false">
        (function(r,e,E,m,b){E[r]=E[r]||{};E[r][b]=E[r][b]||function(){
        (E[r].q=E[r].q||[]).push(arguments)};b=m.getElementsByTagName(e)[0];m=m.createElement(e);
                m.async=1;m.src=("file:"==location.protocol?"https:":"")+"//s.reembed.com/G-AM254X.js";
                b.parentNode.insertBefore(m,b)})("reEmbed","script",window,document,"api");
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	
            <div class="container-aula" style="overflow: auto">

              
               <nav class="menu">
                
                
               </nav>

               <div class= "area-video">
                  <iframe src="https://www.youtube.com/watch?v=dZk3NLtct7o?&autoplay=1" frameborder="0" ></iframe>
                 

               </div>
                <div class= "chat" >
                  <div id="caixa-chat">
                    <div id="caixa-rolante" style="overflow-x: hidden;">

                      <div id="dados-chat">
                        <span style="color: cyan;" id="nome">Felipe Iran: </span>
                        <span style="color: white;" id="msg">oi professor poderia explicar o funcionamento vertical x e y quando aplicado a uma força super potente que nos da uma chance de buscar o conhecimento elevado por terra que nos faz imaginar como seriamos caso os alieniginas viessem buscar oooooooiooo</span>
                      </div>
                    </div>
                  </div>

                  <form method="POST" action="/aula">
                    <textarea name="mensagem" placeholder="insira uma mensagem"></textarea>
                  <input type="submit" name="enviar" value="Enviar">
                  </form>
               </div>

        
            </div>


</body>
</html>